@CHARSET "ISO-8859-1";

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div {
	padding: 10px;
}

#login_panel {
	width: 450px;
	height: 400px;
	margin: auto;
	top: 0;bottom: 0;left: 0; right: 0;
	position: absolute;
}

#login_input_panel {
	padding: 15px;
	border: solid thin silver;
}

#client_id_label {
	float: left;
	width: 150px;
	text-align: right;
}

#pin_label {
	float: left;
	width: 150px;
	text-align: right;
}

#button_panel {
	margin: 0px auto;
	width: 250px;
	height: 50px;
	text-align: center;
}

#login_button_panel {
}

input[type=button] {
	padding: 10px 30px 10px 30px;
	background-color: lightgreen;
}

.error {
	background-color: yellow;
}