@CHARSET "ISO-8859-1";

*, *:AFTER, *:BEFORE {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2{color:blue}

div {
	padding: 0px;
}

#main_panel {
	width: 800px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

#customer_information_panel {
	border: solid thin blue;
	padding: 15px;
}

#checking_balance{float:left; padding-right: 136px; margin-top:5px;}
#savings_balance{float:left; padding-right: 134px; margin-top:5px;}
#credit_card{float:left; padding-right: 90px; margin-top:5px;}
.date{line-height:25px;}
#ccDate{float:right; margin-top: -22px;}


#welcome_message {
	font-size: 18pt;
	padding-bottom: 10px;
}

#actions_panel {
	padding: 10px;
}

#actions_panel:AFTER {
	content: "";
	display: table;
	clear: both;
}

#withdraw_panel {
	float: left;
	width: 33%;
	height: 225px;
	background: url("images/withdraw-icon.jpg") no-repeat center;
	text-align: center;
}

#deposit_panel {
	float: left;
	width: 33%;
	height: 225px;
	background: url("images/deposit-icon.jpg") no-repeat center;
	text-align: center;
}

#transfer_panel {
	float: left;
	width: 33%;
	height: 225px;
	background: url("images/transfer-icon.jpg") no-repeat center;
	text-align: center;
}

#done_panel {
	height: 225px;
	text-align: center;
	background: url("images/done-icon.jpg") no-repeat;
	text-decoration: none;
	width:300px;
	float:left;
}
.done{padding-top:20px; margin-left:-20px;}

#done_button {
	text-decoration: none;
}